@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Germania One', cursive;;
}

input, button {
    font: inherit;
}

a {
    text-decoration: overline;
    cursor: not-allowed;
    color: black;
}

a:visited {
    color: green;
}

a:hover, a:focus {
    color: darkgray;
    background-color: crimson;
}

a:active {
    color: lightgray;
}