@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Germania One', cursive;;
}

ol {
    list-style: upper-roman;
}

ul li {
    padding-left: 0.3em;
}

ul li:nth-child(3){
    color: crimson;
}

ul ::marker {
    content: "✞";
}