@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');


body {
    font-family: 'Germania One', cursive;
    font-size: 1.5rem;
}

.columns {
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}

.columns p {
    margin-top: 0;
}

.columns .quote {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: crimson;
    column-span: all;
}

.nowrap {
    white-space: nowrap;
}